.body{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}



.messages {
    height: 60vh;
    overflow-y: scroll;
}



.message__self {
    border-left: 2px solid orange;
    padding-left: 10px;
}

.message__image {
    padding: 1em;
}

.direct__messages {
    padding-top: 50px;
}

.popup__message {
    height: 450px;
    width: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.popup__message__btn {
    position: fixed;
    top: 85%;
    left: 97%;
    transform: translate(-50%, -50%);
}